    <section class="row trial30_banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <div class="row">
                        <h2>Augmentez votre présence numérique!</h2>
                        <h5>Optimisez votre site, augmentez votre visibiliter dans les moteurs de recherche, augmentez vos ventes, maintenant!</h5>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <a href="{% url "contact:details" %}" class="borderred_link"><span>Nous contacter</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>