
<hr>
   <section>
        <div class="row m0 page_packages page_faq contentRow">                
            <div class="container">
                <div class="row title_row">
                    <h2>Frequently Asked Question</h2>
                    <h5> Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</h5>
                </div>
                <div class="row faqs">
                    <div class="col-sm-6">
                        <div class="row faq">
                            <h5>How Can Change Pricing Plan ? </h5>
                            <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae.</p>
                        </div> <!--FAQ-->
                        <div class="row faq">
                            <h5>How to renewed Plan?</h5>
                            <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem</p>
                        </div> <!--FAQ-->
                        <div class="row faq">
                            <h5>How can I encourage others to follow me?</h5>
                            <p>Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae illo inventore.</p>
                        </div> <!--FAQ-->
                    </div>
                    <div class="col-sm-6">
                        <div class="row faq">
                            <h5>How to Know About offers  ? </h5>
                            <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem</p>
                        </div> <!--FAQ-->
                        <div class="row faq">
                            <h5>How do I change my username?</h5>                            
                            <p>Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae illo inventore.</p>
                        </div> <!--FAQ-->
                        <div class="row faq">
                            <h5>What do I do if I've forgotten my username or password?</h5>
                            <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae.</p>
                        </div> <!--FAQ-->
                    </div>
                </div>
            </div>
        </div>
    </section>