{% load staticfiles %}
    <section class="row latest_blogs contentRow">
        <div class="container">
            <div class="row title_row">
                <h2>Nos derniers articles de blogue</h2>
                <h5>Lisez nos articles et comprenez ce monde passionnant du Marketing Web!</h5>
            </div>
            <div class="row">
                <div class="col-sm-4 blog latest_blog">
                    <div class="row m0">
                        <div class="row m0 image">
                            <img src='{% static "images/blog/latest_blog/1.jpg" %}' alt="">
                        </div>
                        <div class="media">
                            <div class="media-left post_cat">
                                <a href="#"><img src='{% static "images/icons/blog/4.png" %}' alt=""></a>
                            </div>
                            <div class="media-body">
                                <div class="row m0 post_meta">
                                    <div class="row m0 date"><a href="single-post.html">25 août 2016</a></div>
                                    <div class="row m0 author">Écrit par <a href="#">Prénom Nom</a></div>
                                </div>
                                <a href="single-post.html" class="post_title">
                                    <h5>Contenu de l'article...</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 blog latest_blog">
                    <div class="row m0">
                        <div class="row m0 image">
                            <img src='{% static "images/blog/latest_blog/1.jpg" %}' alt="">
                        </div>
                        <div class="media">
                            <div class="media-left post_cat">
                                <a href="#"><img src='{% static "images/icons/blog/5.png" %}' alt=""></a>
                            </div>
                            <div class="media-body">
                                <div class="row m0 post_meta">
                                    <div class="row m0 date"><a href="single-post.html">25 août 2016</a></div>
                                    <div class="row m0 author">Écrit par <a href="#">Prénom Nom</a></div>
                                </div>
                                <a href="single-post.html" class="post_title">
                                    <h5>Contenu de l'article...</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 blog latest_blog">
                    <div class="row m0">
                        <div class="row m0 image">
                            <img src='{% static "images/blog/latest_blog/1.jpg" %}' alt="">
                        </div>
                        <div class="media">
                            <div class="media-left post_cat">
                                <a href="#"><img src='{% static "images/icons/blog/6.png" %}' alt=""></a>
                            </div>
                            <div class="media-body">
                                <div class="row m0 post_meta">
                                    <div class="row m0 date"><a href="single-post.html">25 août 2016</a></div>
                                    <div class="row m0 author">Écrit par <a href="#">Prénom Nom</a></div>
                                </div>
                                <a href="single-post.html" class="post_title">
                                    <h5>Contenu de l'article...</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="blogue.html" class="view_all">Voir tous les articles</a>
            </div>
        </div>
    </section>