{% load staticfiles %}
<section>
        <div class="row m0 testimonials contentRow">
            <div class="container">
                <div class="row">                                       
                    <div class="row m0 title_row">
                        <h2>Citation de nos clients</h2>
                        <h5>Nos clients souhaitaient vous offrir quelques mots sur leur expérience avec nous.</h5>
                    </div>
                    <div class="row m0">
                        <div class="col-sm-6 testimonial">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img src='{% static "images/about/clients/c1.jpg" %}' alt=""></a>
                                </div>
                                <div class="media-body">
                                    <div class="inner row m0">
                                        <div class="blockquote">Je savais que pour passer à la prochaine étape, je devais avoir une bonne plateforme Web, bien référencée et bien réfléchie. CSM m'a fait un site qui me permet d'atteindre mes clients et de connaître leurs besoins!.</div>
                                        <div class="row m0 review">
                                            <i class="fa fa-star-o starred"></i>
                                            <i class="fa fa-star-o starred"></i>
                                            <i class="fa fa-star-o starred"></i>
                                            <i class="fa fa-star-o starred"></i>
                                            <i class="fa fa-star-o starred"></i>
                                        </div>
                                        <div class="row m0 identity">Jonathan Gonthier <span class="pos">(Travailleur autonome)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 testimonial">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img src='{% static "images/about/clients/c2.jpg" %}' alt=""></a>
                                </div>
                                <div class="media-body">
                                    <div class="inner row m0">
                                        <div class="blockquote">Mon ancien site était sur Wixx et il me servait presque à rien. Avec l'équipe de CSM, mes clients me trouvent facilement et je sais maintenant comment accroître mon rendement sur Internet!</div>
                                        <div class="row m0 review">
                                            <i class="fa fa-star-o starred"></i>
                                            <i class="fa fa-star-o starred"></i>
                                            <i class="fa fa-star-o starred"></i>
                                            <i class="fa fa-star-o starred"></i>
                                            <i class="fa fa-star-o starred"></i>
                                        </div>
                                        <div class="row m0 identity">Lucie Racine <span class="pos">(Auto-entrepreneur)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    