 {% load staticfiles %}
  <section class="row">
        <div class="row m0 page_packages page_pricing contentRow">                
            <div class="container">
                <div class="row title_row">
                    <h2>Nos différents forfaits SEO</h2>
                    <h5>Choisissez l'un de nos forfaits &amp; et obtenez un excellent retour sur investissement</h5>
                </div>
                <div class="row pricingTab">
                    <ul class="nav nav-tabs" role="tablist" id="pricingTab">
                        <li role="presentation" class="active"><a href="#monthly" aria-controls="monthly" role="tab" data-toggle="tab">Mensuel</a></li>
                        <li role="presentation"><a href="#yearly" aria-controls="yearly" role="tab" data-toggle="tab">annuel</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="monthly">
                            <div class="col-sm-4 pricing_table">
                                <div class="row m0 inner">
                                    <h4 class="pricing_title">De base</h4>
                                    <div class="row m0 pricing_price">
                                        <div class="row m0 round_box">
                                            <div class="price_inner"><span class="price">59$</span><br>Par mois</div>
                                        </div>
                                    </div>
                                    <ul class="list-unstyled feature row m0">
                                        <li class="fa fa-check-circle">Élément 1</li>
                                        <li class="fa fa-times-circle">Élément 2</li>
                                        <li class="fa fa-check-circle">Élément 3</li>
                                        <li class="fa fa-times-circle">Élément 4</li>
                                    </ul>
                                    <a href="#" class="purchase_btn">Acheter</a>
                                </div>
                            </div>
                            <div class="col-sm-4 pricing_table standard">
                                <div class="row m0 inner">
                                    <h4 class="pricing_title">Intermédiaire</h4>
                                    <div class="row m0 pricing_price">
                                        <div class="row m0 round_box">
                                            <div class="price_inner"><span class="price">79$</span><br>Par mois</div>
                                            <span class="offer">-20%</span>
                                        </div>
                                    </div>
                                    <ul class="list-unstyled feature row m0">
                                        <li class="fa fa-check-circle">Élément 1</li>
                                        <li class="fa fa-check-circle">Élément 2</li>
                                        <li class="fa fa-check-circle">Élément 3</li>
                                        <li class="fa fa-check-circle">Élément 4</li>
                                    </ul>
                                    <a href="#" class="purchase_btn">Acheter</a>
                                </div>
                            </div>
                            <div class="col-sm-4 pricing_table">
                                <div class="row m0 inner">
                                    <h4 class="pricing_title">Expert</h4>
                                    <div class="row m0 pricing_price">
                                        <div class="row m0 round_box">
                                            <div class="price_inner"><span class="price">$99</span><br>Par mois</div>
                                        </div>
                                    </div>
                                    <ul class="list-unstyled feature row m0">
                                        <li class="fa fa-check-circle">Élément 1</li>
                                        <li class="fa fa-check-circle">Élément 2</li>
                                        <li class="fa fa-check-circle">Élément 3</li>
                                        <li class="fa fa-times-circle">Élément 4</li>
                                    </ul>
                                    <a href="#" class="purchase_btn">Acheter</a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="yearly">
                            <div class="col-sm-4 pricing_table">
                                <div class="row m0 inner">
                                    <h4 class="pricing_title">De base</h4>
                                    <div class="row m0 pricing_price">
                                        <div class="row m0 round_box">
                                            <div class="price_inner"><span class="price">499$</span><br>Par année</div>
                                        </div>
                                    </div>
                                    <ul class="list-unstyled feature row m0">
                                        <li class="fa fa-check-circle">Élément 1</li>
                                        <li class="fa fa-times-circle">Élément 2</li>
                                        <li class="fa fa-check-circle">Élément 3</li>
                                        <li class="fa fa-times-circle">Élément 4</li>
                                    </ul>
                                    <a href="#" class="purchase_btn">Acheter</a>
                                </div>
                            </div>
                            <div class="col-sm-4 pricing_table standard">
                                <div class="row m0 inner">
                                    <h4 class="pricing_title">Intermédiaire</h4>
                                    <div class="row m0 pricing_price">
                                        <div class="row m0 round_box">
                                            <div class="price_inner"><span class="price">699$</span><br>Par année</div>
                                            <span class="offer">-20%</span>
                                        </div>
                                    </div>
                                    <ul class="list-unstyled feature row m0">
                                        <li class="fa fa-check-circle">Élément 1</li>
                                        <li class="fa fa-check-circle">Élément 2</li>
                                        <li class="fa fa-check-circle">Élément 3</li>
                                        <li class="fa fa-check-circle">Élément 4</li>
                                    </ul>
                                    <a href="#" class="purchase_btn">Acheter</a>
                                </div>
                            </div>
                            <div class="col-sm-4 pricing_table">
                                <div class="row m0 inner">
                                    <h4 class="pricing_title">Expert</h4>
                                    <div class="row m0 pricing_price">
                                        <div class="row m0 round_box">
                                            <div class="price_inner"><span class="price">849$</span><br>Par année</div>
                                        </div>
                                    </div>
                                    <ul class="list-unstyled feature row m0">
                                        <li class="fa fa-check-circle">Élément 1</li>
                                        <li class="fa fa-check-circle">Élément 2</li>
                                        <li class="fa fa-check-circle">Élément 3</li>
                                        <li class="fa fa-times-circle">Élément 4</li>
                                    </ul>
                                    <a href="#" class="purchase_btn">Acheter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
    </section>