{% load staticfiles %}
        <div class="row m0 recent_cases contentRow">
            <div class="container">
                <div class="row title_row">
                    <h2>Projets réalisés</h2>
                    <h5>Voici quelques projets que nous avons réalisés dans la dernière années. Chacun de nos client est unique et nous apprenons à le comprendre et nous l'aidons à aller plus loin!</h5>
                </div>
                <div class="row recentCaseStudies">
                    <div class="case ecommerce">
                        <div class="row m0">
                            <a href="projet_details.html" class="img_link"><img src='{% static "images/case/6.jpg" %}' alt="" class="img-responsive"></a>
                            <a href="projet_details.html" class="text_link">En savoir plus <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="case seo">
                        <div class="row m0">
                            <a href="projet_details.html" class="img_link"><img src='{% static "images/case/6.jpg" %}' alt="" class="img-responsive"></a>
                            <a href="projet_details.html" class="text_link">En savoir plus <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="case featured">
                        <div class="row m0">
                            <a href="projet_details.html" class="img_link"><img src='{% static "images/case/6.jpg" %}' alt="" class="img-responsive"></a>
                            <a href="projet_details.html" class="text_link">En savoir plus <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="case technology">
                        <div class="row m0">
                            <a href="projet_details.html" class="img_link"><img src='{% static "images/case/6.jpg" %}' alt="" class="img-responsive"></a>
                            <a href="projet_details.html" class="text_link">En savoir plus <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row dot270"></div>
        </div>
