{% load staticfiles %}
<!-- Slider --> 
<section class="home-slider">
  <div class="tp-banner-container">
    <div class="tp-banner" >
      <ul>
        <!-- Slider 1 -->
        <li data-transition="fade" data-slotamount="7"> 
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme" 
                  data-x="center" 
                  data-y="120" 
                  data-speed="700" 
                  data-start="700" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on"
                  style="color: #232323; font-size: 30px; text-transform:uppercase; font-family: 'Montserrat', sans-serif; font-weight: bold;"> Soyez davantage compétitifs</div>
          
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme" 
                  data-x="center" 
                  data-y="170"
                  data-speed="700" 
                  data-start="900" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on"
                  style="color: #232323; font-size: 18px;   font-family: 'Droid Serif', serif; font-style:italic; font-weight: normal; "> Grâce au marketing web</div>
          
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme" 
                  data-x="center" 
                  data-y="200"
                  data-speed="700" 
                  data-start="1100" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on"
                  style="z-index: 10;"> <a href="{% url 'services:liste' %}" class="borderred_link">Voir nos services!</a> </div>
          
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4" 
                  data-x="center" 
                  data-y="bottom"
                  data-speed="700" 
                  data-start="1500" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on"
                  style="z-index: 2;"> <img src='{% static "images/slider/browser.png" %}' alt="" ></div>
          
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4" 
                  data-x="center" 
                  data-y="350"
                  data-speed="700" 
                  data-start="1300" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on" 
                  style="z-index: 2;"> <img src='{% static "images/slider/bnr-feature.png" %}' alt="" > </div>
        </li>

        <!-- Slider 2 -->
        <li data-transition="fade" data-slotamount="7"> 
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme" 
                  data-x="left" 
                  data-y="120" 
                  data-speed="700" 
                  data-start="700" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on"
                  style="color: #232323; font-size: 35px; text-transform:uppercase; font-family: 'Montserrat', sans-serif; font-weight: bold;"> Laissez-nous optimiser votre trafic </div>
          
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme" 
                  data-x="left" 
                  data-y="170" 
                  data-speed="700" 
                  data-start="1000" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on"
                  style="color: #232323; font-size: 35px; text-transform:uppercase; font-family: 'Montserrat', sans-serif; font-weight: bold; border-bottom: 2px solid #e99544;">sur le web et plus encore...</div>
          
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme" 
                  data-x="left" 
                  data-y="270"
                  data-speed="700" 
                  data-start="1300" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on"
                  style="color: #777777; font-size: 14px;  font-family: 'Droid Serif', serif; font-weight: normal; line-height:26px;"> Avec nous, vous découvrirez les avantages du marketing web et les nombreuses<br /> possibilités qui s’offrent à votre entreprise. Nous vous aiderons à choisir les<br />canaux de communication les plus appropriés pour rejoindre votre<br /> clientèle cible. Notre objectif : accroître vos ventes et améliorer<br /> votre environnement d’affaires. </div>
          
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme" 
                  data-x="left" 
                  data-y="380"
                  data-speed="700" 
                  data-start="1800" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on"
                  style="z-index: 10;"> <a href="{% url 'contact:details' %}" class="borderred_link">Nous contacter</a> </div>
          
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4" 
                  data-x="800" 
                  data-y="bottom" data-voffset="-100" 
                  data-speed="700" 
                  data-start="1500" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on"
                  style="z-index: 2;"> <img src='{% static "images/slider/mac.png" %}' alt="" ></div>
          
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4" 
                  data-x="500" 
                  data-y="bottom" data-voffset="0"
                  data-speed="700" 
                  data-start="1300" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on" 
                  style="z-index: 2;"> <img src='{% static "images/slider/plane.png" %}' alt="" > </div>

          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4" 
                  data-x="1000" 
                  data-y="130"
                  data-speed="700" 
                  data-start="1600" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on" 
                  style="z-index: 2;">
            <h4>4</h4>
            <p>Mesurer les résultats</p>
          </div>
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4" 
                  data-x="720" 
                  data-y="160"
                  data-speed="700" 
                  data-start="1600" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on" 
                  style="z-index: 2;"> <img src='{% static "images/slider/bosta.png" %}' alt="" > </div>


          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4" 
                  data-x="820" 
                  data-y="160"
                  data-speed="700" 
                  data-start="1600" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on" 
                  style="z-index: 2;">
            <h4>3</h4>
            <p>Optimisation de votre présence</p>
          </div>
          
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4" 
                  data-x="560" 
                  data-y="300"
                  data-speed="700" 
                  data-start="1800" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on" 
                  style="z-index: 2;"> <img src='{% static "images/slider/project-completed.png" %}' alt="" > </div>
          
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4" 
                  data-x="660" 
                  data-y="300"
                  data-speed="700" 
                  data-start="1800" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on" 
                  style="z-index: 2;">
            <h4>2</h4>
            <p>Optimisation de vos outils</p>
          </div>
          
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4" 
                  data-x="470" 
                  data-y="490"
                  data-speed="700" 
                  data-start="2000" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on" 
                  style="z-index: 2;"> <img src='{% static "images/slider/clients.png" %}' alt="" > </div>
          
          <!-- Layer -->
          <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4" 
                  data-x="570" 
                  data-y="490"
                  data-speed="700" 
                  data-start="2000" 
                  data-easing="easeOutBack"
                  data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-elementdelay="0.1" 
                  data-endelementdelay="0.1" 
                  data-endspeed="300" 
                  data-captionhidden="on" 
                  style="z-index: 2;">
            <h4>1</h4>
            <p>Ciblage de vos clients</p>
          </div>
        </li>

      </ul>
    </div>
  </div>
</section>