
                <div class="col-sm-3 service_sidebar">
                    <div class="row m0">
                        <ul class="nav services_list">
                            <li><a href="{% url 'services:audit_web' %}">Audit Web</a></li>
                            <li><a href="{% url 'services:seo' %}">Services SEO</a></li>
                            <li><a href="{% url 'services:medias_sociaux' %}">Médias sociaux</a></li>  
                            <li><a href="{% url 'services:courriels' %}">Campagnes courriels</a></li>
                            <li><a href="{% url 'services:developpement_web' %}">Développement web</a></li>
                            <li><a href="{% url 'services:cms' %}">Gestion de contenu</a></li>
                        </ul>                        
                    </div>
<!--                     <div class="row m0 register_link">
                        <h5>Demandez votre Audit Web <br></h5>
                        <a href="#" class="borderred_link"><span>Nous<br>contacter</span></a>
                        <p class="m0"></p>
                    </div> -->
                </div>